{% extends "base.html" %} 

{% block title %} TITLE {% endblock title %}

 {% block content %}
 
 {% load crispy_forms_tags %}
 <h1>Edit Profile</h1>

 <div class="container">
   <form class="my-class" action="{% url 'profile' %}" method="POST">
     {% csrf_token %} {{form|crispy}}
     <button class="btn btn-dark mt-3" type="submit">Edit</button>
   </form>

   {% if messages %}
   <ul class="messages">
       {% for message in messages %}
       <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
           {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
           {{ message }}
       </li>
       {% endfor %}
   </ul>
   {% endif %}

 </div>

{% endblock content %}

