{% load crispy_forms_tags %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />

    <title>{% block title %} {% endblock title %}</title>
  </head>
  <body class="d-flex flex-column min-vh-100 bg-light">
    <nav class="navbar bg-warning">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a href="{% url 'home' %}">
          <img
            src="{% static 'assets/img/3idda.png' %}"
            class="px-4"
            height="60"
        /></a>

        <button
          class="btn btn-outline-dark ms-auto"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBothOptions"
          aria-controls="offcanvasWithBothOptions"
        >
          Profile
        </button>

        <div
          class="offcanvas offcanvas-end"
          data-bs-scroll="true"
          tabindex="-1"
          id="offcanvasWithBothOptions"
          aria-labelledby="offcanvasWithBothOptionsLabel"
        >
          <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
              Welcome back, {{ request.user.username }}
            </h4>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            ></button>
          </div>
          <ul class="list-group list-group-flush">
            <button
              type="button"
              class="list-group-item list-group-item-action"
            >
              An item
            </button>
            <button
              type="button"
              class="list-group-item list-group-item-action"
            >
              A second item
            </button>
            <button
              type="button"
              class="list-group-item list-group-item-action"
            >
              A third item
            </button>
            <button
              type="button"
              class="list-group-item list-group-item-action"
            >
              A fourth item
            </button>
            <a class="text-decoration-none" href="{% url 'logout' %}"
              ><button
                type="button"
                class="list-group-item list-group-item-action text-danger"
                href="{% url 'logout' %}"
              >
                Logout
              </button></a
            >
          </ul>
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link text-dark"
                aria-current="page"
                href="{% url 'home' %}"
                >Home</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'items-list' %}"
                >All Items</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'create-item' %}">
                Create item
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'create-category' %}"
                >Create Category</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark" href="">My Items</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %} {% endblock content%}
    <footer class="mt-auto">
      <!-- Copyright -->
      <div class="text-center p-3 navbar-dark bg-warning">© 2022 Copyright</div>
      <!-- Copyright -->
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
