{% extends "base.html" %} 
{% block title %} TITLE {% endblock title %}

 {% block content %}
 

 <form class="container  overflow-hidden">
  <h1 class="text-center">Categories</h1>

  <div class="row g-3">
    {% if categories %} {% for category in categories %} 
    <div class="col-lg-2 col-md-4 col-sm-6">
      <div class="card shadow my-1">
        <a href="{% url 'category-detail' category_id=category.id %}">
          <div class="card-body">
            <img
            src={{category.image.url}}
            class="card-img-top"
            alt={{category.title}}
            />
            <h6 class="card-title text-center">
                {{category.title}}
            </h6>
          </div>
        </a>
      </div>
      
    </div>
    {% endfor %} {% else %}
    <p>No category yet!</p>
    {% endif %}
  
  </div>
  </form>

{% endblock content %}
