{% extends "base.html" %} 
{% block title %}Categories | 3idda{% endblock title %}

 {% block content %}
 

 <div class="container">
  <h1 class="text-center pt-2">Categories</h1>
  <div class="ms-4 mb-4">
    <a class="text-black" href="{% url 'home' %}">Home</a> <span class="text-muted">></span> <span class="text-muted">Categories</span>
  </div>
  {% if categories %} 
  <div class="row row-cols-1 row-cols-md-5 g-4 pb-5">
  {% for category in categories %} 


    <a class="text-decoration-none text-black" href="{% url 'category-detail' category_id=category.id %} ">
      <div class="col">
        <div class="card h-100">
          <img src="{{category.image.url}}" class="card-img-top p-2" alt="{{category.title}}">
          <div class="card-body">
            <h6 class="card-title text-center">{{category.title}}</h6>
          </div>
          <div class="card-footer">
            <small class="text-muted">Created by: {{category.user}}</small>
          </div>
        </div>
      </div>
    </a>
    {% endfor %} {% else %}
    <h1>Sorry, no categories yet!</h1>
    {% endif %}
  </div>
  </div>
  </div>
{% endblock content %}
