{% extends "base.html" %} 
{% block title %} TITLE {% endblock title %}

 {% block content %}

<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-10">
      <div class="ms-4 mb-4">
        <a class="text-black" href="{% url 'items-list' %}">Home</a> <span class="text-muted">></span> <a class="text-black" href="{% url 'category-detail' category_id=item.category.id %}">{{item.category}}</a> <span class="text-muted">></span> <span class="text-muted">{{item.title}}</span>
      </div>
      <div class="card">
        <div class="row">
            <img class="img-fluid text-center col-lg-6 my-auto " src="{{item.image.url}}"  /> 
          <div class="col-lg-6 p-4">
            <p class="m-0 h3 text-uppercase ">{{item.title}}</p>
            <span class="m-0 text-muted">{{item.category}}</span>
            <p class="m-0 mt-4">{{item.price}} KD</p>
            <p class="m-0 mt-4 text-uppercase">description:</p>
            <p class="m-0">{{item.description}}</p>
            <p class="m-0 mt-4 text-uppercase">Created by:</p> 
            <p class="m-0 badge bg-black rounded-pill">{{item.user}}</p>   
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
