{% extends "base.html" %} 
{% block title %} All Items | 3idda {% endblock title %}

{% block content %}
<form class="container  overflow-hidden">
<h1  class="text-center">All Items</h1>
<div class="">
  {% if items %} 
  <div class="row row-cols-1 row-cols-md-5 g-4 pb-5">
  {% for item in items %} 
  
<div>

  <a class="text-decoration-none text-black" href="{% url 'item_details' item_id=item.id %}">
    <div class="col">
      <div class="card h-100">
        <div class="ratio ratio-4x3"> <img src="{{item.image.url}}" class="card-img-top" alt="{{item.title}}" style="object-fit: cover;"></div>
        <div class="card-body">
          <h5 class="card-title text-center">{{item.title}}</h5>
        </div>
        <div class="card-footer">
          <small class="text-muted">Category: {{item.category}}</small>
          <br>
          <small class="text-muted">Created by: {{item.user}}</small>
        </div>
        <a class="btn btn-primary btn-sm" href="{% url 'delete-item' item_id=item.id %}">Delete</a>
      </div>
    </div>
  </a>


</div>

  {% endfor %} {% else %}
  <h1>Sorry, no items yet!</h1>
  {% endif %}
</div>
</div>
</form>





{% endblock content %}
